<h2>3 Day Forecast</h2>
  {{#each list}}
  <div class="threeDayDiv col-sm-6 col-md-4">
    <div class="thumbnail">
      <div><a href="#"><span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" data-placement="left" title="Save Forecast"></span></a><span class="date">{{dt}}</span></div>
      <div class="main-temp">{{temp.day}}</div>
      {{#each weather}}
      <img src="http://openweathermap.org/img/w/{{icon}}.png">
      <h1 class="status">{{main}}</h1>
      <div class="status-description">{{description}}</div>
      {{/each}}
      <div>
        <span class="pressure">Pressure: {{pressure}}</span>
        <span class="wind-speed">Speed: {{speed}}</span>
      </div>
    </div>
  </div>
  {{/each}}


