<div>
  <h3>3 Day Forecast</h3>
  {{#each list}}
    <h3>{{dt}}</h3>
    <div>{{main.temp}}°F</div>
    {{#each weather}}
    <h4>{{main}}</h4>
    <div>{{description}}</div>
    {{/each}}
    <div>
      <span><b>Pressure:</b>{{pressure}}hPa</span>
      <span><b>Wind:</b>{{speed}}mph</span>
    </div>
  {{/each}}
</div>
