<div>
  <h3>3 Day Forecast</h3>
  {{#each list}}
  <div>{{list.main.temp}}</div>
  <div>{{list.weather.icon}}<span>
  <h1>{{list.weather.main}}</h1>
  <div>{{list.weather.description}}</div>
  <div>
    <span>{{list.main.pressure}}</span>
    <span>{{list.wind.speed}}</span>
  </div>
  {{/each}}
</div>
