<div>
  <h3>3 Day Forecast</h3>
  {{#each list}}
    <h3 class="date">{{dt}}</h3>
    <div>{{temp.day}}°F</div>
    {{#each weather}}
    <h4>{{main}}</h4>
    <div>{{description}}</div>
    {{/each}}
    <div>
      <span><b>Pressure:</b>{{pressure}}hPa</span>
      <span><b>Wind:</b>{{speed}}mph</span>
    </div>
    <button type="button" class="save">Save Day</button>
  {{/each}}
</div>
