<div>
  <h3>7 Day Forecast</h3>
  {{#each list}}
    <h3>{{dt}}</h3>
    <div>{{temp.day}}°F</div>
    {{#each weather}}
    <h4>{{main}}</h4>
    <div>{{description}}</div>{{/each}}
    <div>
      <span><b>Pressure:</b>{{main.pressure}}hPa</span>
      <span><b>Wind:</b>{{wind.speed}}mph</span>
    </div>
  {{/each}}
</div>