<div>
  <h3>7 Day Forecast</h3>
  {{#each list}}
    <div>{{dt}}</div>
    <div>{{temp.day}}</div>
    {{#each weather}}
    <h1>{{main}}</h1>
    <div>{{description}}</div>{{/each}}
    <div>
      <span>{{main.pressure}}</span>
      <span>{{wind.speed}}</span>
    </div>
  {{/each}}
</div>