<div>
  <h3>{{name}}</h3>
  <div>{{main.temp}}</div>
  {{#each weather}}
  <h1>{{main}}</h1>
  <div>{{description}}</div>{{/each}}
  <div>
    <span>{{main.pressure}}</span>
    <span>{{wind.speed}}</span>
  </div>
  <button type="button" id="3DayButton">3 Day Forecast</button>
  <button type="button" id="7DayButton">7 Day Forecast</button>
</div>